<div class="manage-integration-container">
    <div class="header-container">
        <div class="header-content-container">
            <div>
                <img src="../../assets/carbon_data-bin.svg" alt="icon">
            </div>
            <div>
                <div class="hd-txt">
                    Manage Integrations
                </div>
                <div class="hd-desc">
                    {{0}} Integrations
                </div>
            </div>
        </div>
    </div>
    <div class="body-container">
        <div class="sidenav">
                <div class="sidenav-hd-txt side-nav-txt-format">
                    Salesforce Marketing Cloud Engagement (SFMC)
                </div>
                <div class="menu-items side-nav-txt-format"
                 *ngFor="let item of menuItems; let i=index"
                 [ngClass]="{'active-state':item.state}"
                 (click)="handleSideNavClick(item ,i)"
                >
                    {{item.label}}
                </div>

                <div class="new-conn-btn">
                    <div class="btn-class" (click)="handleNewConnectionClick()">      
                        + New Connector
                    </div>
                </div>
                <div>
                    <div class="btn-class" (click)="handleEditNewConnectionClick()">      
                        + Edit Connector
                    </div>
                </div>
          </div>
          <div class="content">
            <div class="content-header">
                <div class="hd-txt">
                    Snowflake Integration Settings
                </div>
                <div class="hd-desc">
                    Manage access & configure settings to integrate Snowflake
                </div>
            </div>
            <div class="app-details-container">
                <!-- app details -->
            </div>
            <div class="new-conn-container" *ngIf="newConnFlag" [formGroup]="newConnFormGroup">
                <div class="conn-container">
                    <div class="name grid">
                        <div class="label">
                            Connection Name
                        </div>
                        <div>
                            <input type="text" pInputText class="p-inputtext-sm" 
                            [formControl]="newConnFormGroup?.controls['name']"
                            />
                            <div class="err-txt-container">
                                <small
                                *ngIf="newConnFormGroup.controls['name'].invalid && 
                                (newConnFormGroup.controls['name'].dirty
                                 || newConnFormGroup.controls['name'].touched ||
                                  isSubmitted)"
                                class="err-txt">This field is required</small>
                               </div>
                        </div>
                    </div>
                    <div class="secret-name grid">
                        <div class="label">
                            Secret Name
                        </div>
                        <div>
                            <input type="text" pInputText class="p-inputtext-sm"
                            [formControl]="newConnFormGroup.controls['secret_name']"
                            />
                            <div class="err-txt-container">
                                <small
                                *ngIf="newConnFormGroup.controls['secret_name'].invalid && 
                                (newConnFormGroup.controls['secret_name'].dirty
                                 || newConnFormGroup.controls['secret_name'].touched ||
                                  isSubmitted)"
                                class="err-txt">This field is required</small>
                               </div>
                        </div>
                       
                        
                    </div>
                    <div class="parameter-container" *ngFor="let formArray of parameters.controls;let i = index">
                        <div class="name">
                            <div class="parameter-input-label">
                                Secret Key
                            </div>
                            <div>
                                <input type="text" pInputText class="p-inputtext-sm"
                                [formControl]="formArray.controls['key']"
                                />
                                <div class="err-txt-container">
                                    <small
                                    *ngIf="formArray.controls['key'].invalid && 
                                    (formArray.controls['key'].dirty
                                     || formArray.controls['key'].touched ||
                                      isSubmitted)"
                                    class="err-txt">This field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="secret-name">
                            <div class="parameter-input-label">
                                Secret Value
                            </div>
                            <div>
                                <input type="text" pInputText class="p-inputtext-sm"
                                [formControl]="formArray.controls['value']"
                                />
                                <div class="err-txt-container">
                                    <small
                                    *ngIf="formArray.controls['value'].invalid && 
                                    (formArray.controls['value'].dirty
                                     || formArray.controls['value'].touched ||
                                      isSubmitted)"
                                    class="err-txt">This field is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="remove-icon add-parameter" *ngIf="i" (click)="handleRemoveParameter(i,formArray)">
                            remove
                        </div>
                    </div>
                    <div class="add-parameter-container" >
                        <div  class="add-parameter-txt" (click)="handleAddParameter()">+ Add Parameters</div>
                        
                    </div>
                    <div class="btn-container">
                        <p-button  label="Deactivate" styleClass="p-button-outlined p-button-sm" (click)="handleDeactivate()"></p-button>
                        <p-button icon="pi pi-plus" label="Save Changes" styleClass="p-button-sm" (click)="handleSaveChanges()"></p-button>
                    </div>
                </div>
            </div>
          </div>
    </div>
</div>
