*{
    --color-black :#000000;
    --color-white : #FFFFFF;
    --primary-1 : #002F6C;
    --primary-2 : #ED8B00;
    --tertiary-1 : #B1B3B3;
    --secondary-1 : #DC4405;
 }
.manage-integration-container{
    background-color: var(--color-white);
    .header-container{
        padding: 0px 2rem;

        .header-content-container{
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 6px 2rem 6px 3.5rem;
            width: fit-content;
            border-bottom: 1px solid#D9D9D9;
        }
        .hd-txt{
            color: var(--color-black);
            line-height: 2rem;
            font-size: 1.75rem;
        }
        .hd-desc{
            color: var(--color-black);
            line-height: 2rem;
            font-size: 1rem;
        }
    }
    .body-container{
        display: grid;
        grid-template-columns: 219px 1fr;
        gap: 1.25rem;
        margin-top: 2.938rem;
    .sidenav{
        background: #E7E7EE;
        height: calc(100vh - 90px);
        position: relative;
        // padding: 1.25rem;
             
        .sidenav-hd-txt{
           margin-top: 10px;
        }
        .menu-items{
            cursor: pointer;
        }
        .side-nav-txt-format{
            color: var(--color-black);
            line-height: 1.25rem;
            font-size: 1rem;
            padding: 0.5rem 1rem;
        }
        .new-conn-btn{
            // display: flex;
            // flex-direction: column;
            // justify-content: flex-end;
            // align-items: center;
            position: absolute;
            bottom: 35px;
            left: 38px;
        }
        }


    .content {
        padding:0px 20px;

        .hd-txt{
            color: var(--color-black);
            line-height: 2.125rem;
            font-size: 1.406rem;
            letter-spacing: 2px;
            font-weight: 600;
        }
        .hd-desc{
            color: #666666;
            line-height: 1.25rem;
            font-size: 0.875rem;
            letter-spacing: 2px;    
        }

        .content-header{
            padding-bottom: 12px;
            padding-left: 3rem;
            border-bottom: 1px solid #D9D9D9;
        }

        .conn-container{
            padding: 2rem;
        }

        .btn-container{
            display: flex;
            justify-content: flex-end;
            gap: 2rem;
            align-items: center;

        }
        .label{
            text-align: center;
            margin-top: auto;
            margin-bottom: auto;
        }
        .add-parameter-container{
            display: flex;
            justify-content: flex-end;
            padding: 1rem 0.625rem;
        }
        .add-parameter-txt{
            line-height: 1.25rem;
            font-size: 0.875rem;
            letter-spacing: 2px;
            color: var(--color-black);
            cursor: pointer;
        }
        .parameter-container{
            display: flex;
            gap: 1rem;
            align-items: center;
            padding: 1rem 0.5rem;
        }
        .remove-icon{
            margin-bottom: 2rem;
        }
      }
    }
    .grid{
        display: grid;
        grid-template-columns: 10rem 1fr;
        gap: 1rem;
        padding: .5rem 0px;
    }
    .err-txt-container{
        height: 1.083rem;
      }
    
      .err-txt{
        color: var(--secondary-1);
        font-size: 13px;
      }

    .btn-class{
        padding: .5rem;
        background: #D9D9D9;
        cursor: pointer;
    }

    .active-state{
        background: #358AF8;
        color: var(--color-white) !important;
    }
}