*{
    --color-black :#000000;
    --color-white : #FFFFFF;
    --primary-1 : #002F6C;
    --primary-2 : #ED8B00;
    --tertiary-1 : #B1B3B3;
    --secondary-1 : #DC4405;
 }

.campaign-builder-container{

    .top-nav{
        background: var(--primary-1);
        height: 4.063rem;
        display: flex;
        gap: 1rem;
        align-items: center;

        .icon{
            margin-left: 2.125rem;
        }
    }

    .header-txt{
        font-size: 28px;
        color: var( --color-white );
        line-height: 2rem;
        letter-spacing: 1px;
    }

    .body{
        // width: 100%;
        padding:10px 0px ;
        display: flex;
        
        .sid-nav{
            width: 25%;
            margin-top: 10px;
            padding: 0px 10px;
            border-right: 1px solid var( --tertiary-1);
            // height: 100vh;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .menu-container{
                display: flex;
                align-items: center;
                gap: 1rem;

                .index-container{
                    // height: 50px;
                    // width: 50px;
                    background: var(--color-white);
                    border: 1px solid var(--primary-1);

                    .in-txt{
                        color: var(--color-black);
                        padding: 9px 18px;
                        font-size: 1.75rem;
                        line-height: 2rem;
                    }
                }
                .txt{
                    font-size: 1.5rem;
                    line-height: 2rem;
                    color: var(--color-black);
                }

                .active{
                    background: var(--primary-1) !important;
                    color: var(--color-white) !important;
                
                }
            }
        }
        .content{
            width: 75%;
            // height: 100vh;
            padding: 0px 80px;
           
            .row-container {
                display: grid;
                grid-template-columns: 18.75rem 22.875rem;
                gap: 1.5rem;
                padding-bottom: 2.5rem;
            }
            .label-text {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: var(--color-black);
                font-size: 18px;
                line-height: 24px;
                margin-top: -1.375rem;
            }
         
        }

    }

    .m-t-2{
        margin-top: 2rem;
    }
    .m-b{
        margin-bottom: 2rem;
    }
    .p-input-icon-right, .full-width {
		width: 100%;
	  }
      .err-txt-container{
		height: 1.083rem;
	  }
	
	  .err-txt{
		color: #B00020;
		font-size: 13px;
	  }
      .date-picker-container{
        display: flex;
        gap: .5rem;
        align-items: center;
      }
        .date-picker{
            width: 50%;
            .d-p-label{
               margin-left: 1rem;
            }

            .d-p-label-txt-1{
                font-size: 14px;
                line-height: 20px;
                color:#868FA0;
            }
            .d-p-label-txt-2{
                font-size: 10px;
                line-height: 20px;
                color:#868FA0;
            }
        }
       

      .footer{
        border-top: 1px solid var( --tertiary-1);
        padding:1.5rem 20px;
        display: flex;
        justify-content: flex-end;
        gap: 2rem;
        align-items: center;
      }
      .radio-btn-container{
        display: flex;
        // flex-wrap: nowrap;
        gap: 1rem;
      }
}

::ng-deep{
    .p-inputtext{
        padding: 0.625rem 0.625rem;
      }
    .p-dropdown{
        display: flex !important;
        height: fit-content;
    }

    .p-dropdown-label{
        font-size: 0.875rem;
    }
    // .p-dropdown-panel{
      
    // }
}
