<div class="campaign-builder-container">
    <div class="top-nav">
        <div class="icon">
            <img src="../../assets/Vector.svg" alt="icon">
        </div>
        <div class="header-txt">
            Campaign Builder
        </div>
    </div>
    <div class="body">
        <div class="sid-nav">
            <div class="menu-container ">
                <div class="index-container active">
                    <div class="in-txt active">
                        1
                    </div>
                </div>
                <div class="txt">
                    Setup
                </div>
            </div>
            <div class="menu-container">
                <div class="index-container ">
                    <div class="in-txt">
                        2
                    </div>
                </div>
                <div class="txt">
                    Attach Triggers
                </div>
            </div>
            <div class="menu-container">
                <div class="index-container ">
                    <div class="in-txt">
                        3
                    </div>
                </div>
                <div class="txt">
                    Outcomes
                </div>
            </div>
        </div>
        <div class="content" [formGroup]="campaignBuilderFormGroup">
            <div class="row-container"> 
                <div class="label-text">
                    Select a Project
                </div>
                <div class="single-selector" > 
                   <p-dropdown [options]="projectDropDownOptions"
                    formControlName="project"
                    class="p-inputtext-sm"
                    placeholder="Select from List of Projects"
                     optionLabel="label"></p-dropdown>
                     <div class="err-txt-container">
                        <small
                        *ngIf="campaignBuilderFormGroup.controls['project'].invalid && 
                        (campaignBuilderFormGroup.controls['project'].dirty
                         || campaignBuilderFormGroup.controls['project'].touched ||
                          isSubmitted)"
                        class="err-txt">This field is required</small>
                       </div>
                </div>
              </div>
              <div class="row-container"> 
                <div class="label-text">
                    Campaign Name
                </div>
                <div class="single-selector">
                    <input type="text" pInputText class="full-width  p-inputtext-sm"
                    formControlName="name"
                    />
                    <div class="err-txt-container">
                        <small
                        *ngIf="campaignBuilderFormGroup.controls['name'].invalid && 
                        (campaignBuilderFormGroup.controls['name'].dirty
                         || campaignBuilderFormGroup.controls['name'].touched ||
                          isSubmitted)"
                        class="err-txt">This field is required</small>
                       </div>
                </div>
              </div>
              <div class="row-container"> 
                <div class="label-text m-b">
                    Campaign Description
                </div>
                <div class="single-selector">
                    <textarea rows="5" cols="40" pInputTextarea formControlName="description" [autoResize]="false"></textarea>
                    <div class="err-txt-container">
                        <small
                        *ngIf="campaignBuilderFormGroup.controls['description'].invalid && 
                        (campaignBuilderFormGroup.controls['description'].dirty
                         || campaignBuilderFormGroup.controls['description'].touched ||
                          isSubmitted)"
                        class="err-txt">This field is required</small>
                    </div>
                </div>
              </div>
              <div class="row-container"> 
                <div class="label-text">
                    Select a Campaign Objective
                </div>
                <div class="single-selector" > 
                   <p-dropdown [options]="campaignDropDownOptions"
                    formControlName="objective"
                    class="p-inputtext-sm"
                    placeholder="Brand Promotion"
                     optionLabel="label"></p-dropdown>
                     <div class="err-txt-container">
                        <small
                        *ngIf="campaignBuilderFormGroup.controls['objective'].invalid && 
                        (campaignBuilderFormGroup.controls['objective'].dirty
                         || campaignBuilderFormGroup.controls['objective'].touched ||
                          isSubmitted)"
                        class="err-txt">This field is required</small>
                       </div>
                </div>
              </div>
              <div class="row-container"> 
                <div class="label-text">
                    Select a Campaign Manager
                </div>
                <div class="single-selector" > 
                   <p-dropdown [options]="campaignManager"
                    formControlName="manager"
                    class="p-inputtext-sm"
                    placeholder="Select Campaign Manager..."
                     optionLabel="label"></p-dropdown>
                     <div class="err-txt-container">
                        <small
                        *ngIf="campaignBuilderFormGroup.controls['manager'].invalid && 
                        (campaignBuilderFormGroup.controls['manager'].dirty
                         || campaignBuilderFormGroup.controls['manager'].touched ||
                          isSubmitted)"
                        class="err-txt">This field is required</small>
                       </div>
                </div>
              </div>
              

              <div class="row-container"> 
                <div class="label-text">
                    Select Approver
                </div>
                <div class="single-selector" > 
                   <p-dropdown [options]="approver"
                    formControlName="approver"
                    class="p-inputtext-sm"
                    placeholder="Select Campaign Approver..."
                     optionLabel="label"></p-dropdown>
                     <div class="err-txt-container">
                        <small
                        *ngIf="campaignBuilderFormGroup.controls['approver'].invalid && 
                        (campaignBuilderFormGroup.controls['approver'].dirty
                         || campaignBuilderFormGroup.controls['approver'].touched ||
                          isSubmitted)"
                        class="err-txt">This field is required</small>
                       </div>
                </div>
              </div>
              <!-- date  -->
              <div class="row-container"> 
                <div class="label-text">
                    Campaign Timeline
                </div>
                <div class="input-container">
                    <div class="date-picker-container" > 
                        <div class="date-picker">
                            <div class="d-p-label"><span class="d-p-label-txt-1">Starts </span> <span class="d-p-label-txt-2">(mm/dd/yyyy)</span></div>
                            <p-calendar formControlName="timelineStartDate" (onSelect)="handleDateOnchange($event)" [minDate]="startMinDate" [styleClass]="'custom-height'" [showIcon]="true" ></p-calendar>
                        </div>
                        <i class="pi pi-angle-right" style="font-size: 1rem; color:#868FA0; margin-top: 1rem;"></i>
                        <div class="date-picker">
                            <div class="d-p-label"><span class="d-p-label-txt-1">Starts </span> <span class="d-p-label-txt-2">(mm/dd/yyyy)</span></div>
                            <p-calendar formControlName="timelineEndDate"  [minDate]="endMinDate" [styleClass]="'custom-height'" [showIcon]="true" [disabled]="true"></p-calendar>
                        </div>
                   </div>
                   <div class="err-txt-container">
                    <small
                    *ngIf="(campaignBuilderFormGroup.controls['timelineStartDate']?.value ===''&& campaignBuilderFormGroup.controls['timelineEndDate']?.value ==='') && 
                    ((campaignBuilderFormGroup.controls['timelineStartDate'].dirty ||campaignBuilderFormGroup.controls['timelineEndDate'].dirty )
                     ||(campaignBuilderFormGroup.controls['timelineStartDate'].touched || campaignBuilderFormGroup.controls['timelineEndDate'].touched)||
                      isSubmitted)"
                    class="err-txt">This field is required</small>
                    <small
                    *ngIf="campaignBuilderFormGroup.get('timelineStartDate')?.value ==='' && campaignBuilderFormGroup.get('timelineEndDate')?.value"
                    class="err-txt">Please select a start date</small>
                    <small
                    *ngIf="campaignBuilderFormGroup.get('timelineEndDate')?.value ==='' && campaignBuilderFormGroup.get('timelineStartDate')?.value"
                    class="err-txt">Please select a End date</small>
                   </div>
                </div>
               
              </div>
              <div class="row-container"> 
                <div class="label-text">
                    Select Timezone
                </div>
                <div class="single-selector" > 
                   <p-dropdown [options]="timeZones"
                    formControlName="timezone"
                    class="p-inputtext-sm"
                    placeholder="(UTC - 00:00) Coordinated Universal Time"
                     optionLabel="label"></p-dropdown>
                     <div class="err-txt-container">
                        <small
                        *ngIf="campaignBuilderFormGroup.controls['timezone'].invalid && 
                        (campaignBuilderFormGroup.controls['timezone'].dirty
                         || campaignBuilderFormGroup.controls['timezone'].touched ||
                          isSubmitted)"
                        class="err-txt">This field is required</small>
                       </div>
                </div>
              </div>
              <div class="row-container"> 
                <div class="label-text">
                    Campaign Mode *
                </div>
                <div class="radio-button" > 
                   
                    <div class="radio-btn-container">
                        <div class="flex align-items-center">
                            <p-radioButton name="campaignMood" value="Trigger Based" formControlName="campaignMood" inputId="triggerBased"></p-radioButton>
                            <label for="triggerBased" class="ml-2">Trigger Based</label>
                        </div>
                        <div class="flex align-items-center">
                            <p-radioButton name="campaignMood" value="Machine Learning" formControlName="campaignMood" inputId="ML"></p-radioButton>
                            <label for="ML" class="ml-2">Machine Learning</label>
                        </div>
                    </div>
                    <div class="err-txt-container">
                        <small
                        *ngIf="campaignBuilderFormGroup.controls['campaignMood'].invalid && 
                        (campaignBuilderFormGroup.controls['campaignMood'].dirty
                         || campaignBuilderFormGroup.controls['campaignMood'].touched ||
                          isSubmitted)"
                        class="err-txt">This field is required</small>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="outlined-btn">
            <p-button  label="Draft" styleClass="p-button-outlined p-button-sm" (click)="handleDraftClick()"></p-button>
        </div>
        <div class="colored-btn">
            <p-button icon="pi pi-angle-right" [disabled]="campaignBuilderFormGroup.invalid" iconPos="right" label="Next" styleClass="p-button-sm" (click)="handleSaveChanges()"></p-button>
        </div>
    </div>
</div>