<div class="top-nav-container">
    <div class="left-container">
        <div class="logo-1-container">
            <div class="logo-txt">
                OMNI Channel Orchestration
            </div>
            <div class="logo-1">
                <img src="../../assets/logo-eversana 1.svg" alt="">
            </div>
        </div>
        <div class="logo-2-container">
            <div class="">
                <img src="../../assets/Frame 4.svg" alt="">
            </div>
        </div>
	</div>
	<div class="center-container">
        <div class="menu-container">
            <div class="icon">
                <img src="../../assets/Group 4.svg" alt="">
            </div>
            <div class="label">
                HOME
            </div>
            
        </div>
        <div class="menu-container">
            <div class="icon">
                <img src="../../assets/organization 1.svg" alt="">
            </div>
            <div class="label">
                CAMPAIGNS
            </div>
        </div>
        <div class="menu-container" (click)="handleConfigClick()" #config>
            <div class="icon">
                <img src="../../assets/setting 1.svg" alt="">
            </div>
            <div class="label">
                CONFIGURATIONS
            </div>
            <div class="icon">
                <img src="../../assets/chevron--right.svg" alt="">
            </div>
        </div>
	</div>
	<div class="right-container">
        <div class="notify-icon">
            <img src="../../assets/Notification icon.svg" alt="">
        </div>
        <div class="avatar">
            <p-avatar [image]="imgUrl" styleClass="mr-2" size="large" shape="circle"></p-avatar>
        </div>
	</div>
</div>



<p-overlay
	[(visible)]="configOverlayVisible"
	[target]="config"
	[responsive]="{ breakpoint: '640px', contentStyleClass: 'h-20rem' }"
	contentStyleClass="p-4 surface-overlay shadow-2 border-round"
>
<div class="card">
    <div class="card-content-container" (click)="handleconfigMenuClick()">
        {{'menu-1'}}
    </div>
    <div class="card-content-container" (click)="handleconfigMenuClick()">
        {{'menu-2'}}
    </div>
 
</div>
</p-overlay>
