 *{
    --txt-color:#0153b0;
 }



.top-nav-container {
	display: flex;
	justify-items: center;
	justify-content: space-between;
	align-items: center;
	background-color: #ffffff;
	border-bottom: 1px solid #B1B3B3;
	// padding: 0px 33px;
	position: initial;
	width: 100vw;
	overflow: hidden;
	height: 4.25rem;

    .left-container{
        align-items: center;
        display: inline-flex;
    
        .logo-1-container{
            text-align: center;
            padding: 0px 1rem;
            border-right: 1px solid #B1B3B3;
        }
        .logo-2-container{
            text-align: center;
            padding: 0px 1rem;
        }
        .logo-txt{
            font-size: 0.75rem;
            letter-spacing: 1px;
        }
    }
    .right-container{
        display: inline-flex;
        align-items: center;
        padding: 0 3rem 0 1rem;
        gap: 2rem;
    }
    .center-container{
        display: flex;
        align-items: center;
        gap: 1rem;
    
        .menu-container{
            display: flex;
            align-items: center;
            gap: .5rem;
            cursor: pointer;

            .label{
                font-size: 1rem;
                letter-spacing: 2px;
                font-weight: 600;
            }
        }
    }


}
.card{
    width: 243px;
    height: 100%;
    background: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2509803922);
    padding-top: 0.5rem;
    padding-left: 0.4rem;
    margin-top: 18px;

    .card-content-container{
        display: block;
        padding: 8px;
        color: var(--txt-color);
        text-decoration: none;
        cursor: pointer;
    }
}