/* You can add global styles to this file, and also import other style files */
* {
	box-sizing: border-box;

	// font-family: 'Ubuntu', sans-serif;
	// line-height: 1.2;
	margin: 0;
	padding: 0;
	// font-size: 0.95rem;
	// font-weight: 400;

	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;

//   ::-webkit-scrollbar {
//     width: 10px;
//     height: 10px;
//   }

//   ::-webkit-scrollbar-track {
//     // background-color: #f1f1f1;
//   }

//   ::-webkit-scrollbar-thumb {
//     // background-color: #888;
//     border-radius: 5px;
//   }

//   ::-webkit-scrollbar-thumb:hover {
//     // background-color: #555;
//   }
}
**body .p-datepicker table td {
    padding: 0.13rem; // use as per your requirement.
  }